.transform (@rotation: 0, @translate: 20) {
  -webkit-transform: rotate(@rotation*1deg) translate(@translate*1px) rotate(-1deg*@rotation);
  -moz-transform: rotate(@rotation*1deg) translate(@translate*1px) rotate(-1deg*@rotation);
  -o-transform: rotate(@rotation*1deg) translate(@translate*1px) rotate(-1deg*@rotation);
  transform: rotate(@rotation*1deg) translate(@translate*1px) rotate(-1deg*@rotation);
}


/* Define two variables as the loop limits */
@from : 0;
@to : 8;

@angle: (360 / @to);
@start: 315;
@circle-size: 40;


.loop(@index) when(@index < @to) {
  #btn-@{index} {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
  .md-is-open #btn-@{index} {
    position: absolute;
    .transform((@index * @angle) + @start, (@circle-size*1.8));
  }
  .loop(@index + 1);
}
.loop(@from);

.fabSpeedDialCircle .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialCircle .md-fab:hover, .fabSpeedDialCircle .md-fab.md-focused {
  background-color: #ccc !important;
}

.fabSpeedDialCircle .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

md-fab-trigger {
  z-index: 100;
}
md-fab-actions {
  z-index: 50;
}

ng-md-icon {
  display: block;
    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

.menu-icon, .close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.close-icon {
  opacity: 0;
  transform: scale(0);
}

.md-is-open .menu-icon {
  opacity: 0;
  transform: scale(0);
}

.md-is-open .close-icon {
  opacity: 1;
  transform: scale(1);
}

 